<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found !!!</title>
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body id="not_found_page" style="text-align: center; ">
    <h1 style="font-family: 'Bad Script', cursive; font-size: 129px; margin-top: 40px; font-weight: bolder;" class="text-center ">OOPS!<br></h1>

   <div class="container-fluid">
    <div class="row">
        <div class="col-md-2"><img src=""></div>
        <div class="col-md-8">
            <p class="text-center " style="font-size: 30px; font-weight: bolder; font-family:  'Bad Script', cursive ;"> Something Went Wrong !!!</p>
            
            {% if user.profile.status == "approve" %}
            <a href="{% url 'user_dashboard' %}" class="btn btn-info">Go To Dashboard</a>
            {% else %}
            <a href="{% url 'auth_logout' %}" class="btn btn-danger">Logout</a>
            {% endif %}
                
            
            
<br>
{% if messages %}
<div class="md-card md-card-primary">
<div>
  <ul class="messages alert"  >
      {% for message in messages %}
      <p style="font-size: 20px;">{{ message }}</p>
      {% endfor %}
  </ul>
</div>
</div>
{% endif %}
        </div>
        <div class="col-md-2"></div>
            </div>
   </div>

</body>
</html>