<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="{% static 'main_app/img/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'main_app/img/favicon-32x32.png' %}" sizes="32x32">


    <title>Update Profile</title>
    <script src="{% static 'main_app/js/jquery.js' %}"></script>

   <!-- bootstrap -->
   <link rel="stylesheet" href="{% static 'main_app/css/bootstrap.min.css' %}">
    <!-- uikit -->
    <link rel="stylesheet" href="{% static 'main_app/bower_components/uikit/css/uikit.almost-flat.min.css' %}" media="all">

    <!-- flag icons -->
    <link rel="stylesheet" href="{% static 'main_app/icons/flags/flags.min.css' %}" media="all">

    <!-- style switcher -->
    <link rel="stylesheet" href="{% static 'main_app/css/style_switcher.min.css' %}" media="all">
    
    <!-- altair admin -->
    <link rel="stylesheet" href="{% static 'main_app/css/main.min.css' %}" media="all">

    <!-- themes -->
    <link rel="stylesheet" href="{% static 'main_app/css/themes/themes_combined.min.css' %}" media="all">

 

   <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="{% static 'main_app/bower_components/matchMedia/matchMedia.js' %}"></script>
        <script type="text/javascript" src="{% static 'main_app/bower_components/matchMedia/matchMedia.addListener.js' %}"></script>
        <link rel="stylesheet" href="{% static 'main_app/css/ie.css' %}" media="all">
    <![endif]-->
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}"

 
</head>
<body class="disable_transitions sidebar_main_open sidebar_main_swipe">
    <!-- main header -->
    <header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">
                                
                <!-- main sidebar switch -->
                <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                    <span class="sSwitchIcon"></span>
                </a>
                
                <!-- secondary sidebar switch -->
                <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                    <span class="sSwitchIcon"></span>
                </a>
                
                    <div id="menu_top_dropdown" class="uk-float-left uk-hidden-small">
                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                            <a href="#" class="top_menu_toggle"><i class="material-icons md-24">&#xE8F0;</i></a>
                            <div class="uk-dropdown uk-dropdown-width-3">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-2-3">
                                        <div class="uk-grid uk-grid-width-medium-1-3 uk-margin-bottom uk-text-center">
                                            <a href="page_mailbox.html" class="uk-margin-top">
                                                <i class="material-icons md-36 md-color-light-green-600">&#xE158;</i>
                                                <span class="uk-text-muted uk-display-block">Mailbox</span>
                                            </a>
                                            <a href="page_invoices.html" class="uk-margin-top">
                                                <i class="material-icons md-36 md-color-purple-600">&#xE53E;</i>
                                                <span class="uk-text-muted uk-display-block">Invoices</span>
                                            </a>
                                            <a href="page_chat.html" class="uk-margin-top">
                                                <i class="material-icons md-36 md-color-cyan-600">&#xE0B9;</i>
                                                <span class="uk-text-muted uk-display-block">Chat</span>
                                            </a>
                                            <a href="page_scrum_board.html" class="uk-margin-top">
                                                <i class="material-icons md-36 md-color-red-600">&#xE85C;</i>
                                                <span class="uk-text-muted uk-display-block">Scrum Board</span>
                                            </a>
                                            <a href="page_snippets.html" class="uk-margin-top">
                                                <i class="material-icons md-36 md-color-blue-600">&#xE86F;</i>
                                                <span class="uk-text-muted uk-display-block">Snippets</span>
                                            </a>
                                            <a href="page_user_profile.html" class="uk-margin-top">
                                                <i class="material-icons md-36 md-color-orange-600">&#xE87C;</i>
                                                <span class="uk-text-muted uk-display-block">User profile</span>
                                            </a>
                                            <a href="page_institute_profile.html" class="uk-margin-top">
                                                <i class="material-icons md-36 md-color-orange-600">&#xE87C;</i>
                                                <span class="uk-text-muted uk-display-block">Institute profile</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <ul class="uk-nav uk-nav-dropdown uk-panel">
                                            <li class="uk-nav-header">Components</li>
                                            <li><a href="components_accordion.html">Accordions</a></li>
                                            <li><a href="components_buttons.html">Buttons</a></li>
                                            <li><a href="components_notifications.html">Notifications</a></li>
                                            <li><a href="components_sortable.html">Sortable</a></li>
                                            <li><a href="components_tabs.html">Tabs</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">fullscreen</i></a></li>
                        <li><a href="#" id="main_search_btn" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE8B6;</i></a></li>
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE7F4;</i><span class="uk-badge">16</span></a>
                            <div class="uk-dropdown uk-dropdown-xlarge">
                                <div class="md-card-content">
                                    <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#header_alerts',animation:'slide-horizontal'}">
                                        <li class="uk-width-1-2 uk-active"><a href="#" class="js-uk-prevent uk-text
                                            -small">Messages (12)</a></li>
                                        <li class="uk-width-1-2"><a href="#" class="js-uk-prevent uk-text-small">Alerts (4)</a></li>
                                    </ul>
                                    <ul id="header_alerts" class="uk-switcher uk-margin">
                                        <li>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <span class="md-user-letters md-bg-cyan">gr</span>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="page_mailbox.html">Et dolorum ipsa.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Voluptates ducimus enim dolorem reprehenderit recusandae autem cumque labore.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <img class="md-user-image md-list-addon-avatar" src="{% static 'main_app/img/avatars/avatar_07_tn.png' %}" alt=""/>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="page_mailbox.html">Nobis pariatur nemo.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Et maxime magni iste impedit explicabo aut aperiam alias rem rem.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <span class="md-user-letters md-bg-light-green">jm</span>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="page_mailbox.html">Explicabo pariatur.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Ipsa eos praesentium aut provident aut et neque reprehenderit.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <img class="md-user-image md-list-addon-avatar" src="{% static 'main_app/img/avatars/avatar_02_tn.png' %}" alt=""/>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="page_mailbox.html">Ab molestias.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Voluptates pariatur ut itaque officia in beatae velit molestias.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <img class="md-user-image md-list-addon-avatar" src="{% static 'main_app/img/avatars/avatar_09_tn.png' %}" alt=""/>
                                                    </div>
                                                    
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="page_mailbox.html">Fuga sed eos.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Aliquam animi ullam velit et aut illum esse voluptas maiores.</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="uk-text-center uk-margin-top uk-margin-small-bottom">
                                                <a href="page_mailbox.html" class="md-btn md-btn-flat md-btn-flat-primary js-uk-prevent">Show All</a>
                                            </div>
                                        </li>
                                        <li>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-warning">&#xE8B2;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Id repellat quia.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Ut distinctio quis doloribus deserunt ab nemo facere.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-success">&#xE88F;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Officia sit expedita.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Enim ut eveniet nostrum asperiores ipsa.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-danger">&#xE001;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Aliquam nam eveniet.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Voluptatibus sed ipsa explicabo veniam.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-primary">&#xE8FD;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Minus eos.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Voluptatibus enim voluptas aut reiciendis omnis.</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_image"><img class="md-user-image" src="{{user.profile.profile_pic.url}}" alt=""/></a>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav js-uk-prevent">
                                    <li><a href="{% url 'user_profile' %}">My profile</a></li>
                                    <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header_main_search_form">
            <i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
            <form class="uk-form uk-autocomplete" data-uk-autocomplete="{source:'data/search_data.json'}">
                <input type="text" class="header_main_search_input" />
                <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
                <script type="text/autocomplete">
                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                <li data-value="">
                            <a href="" class="needsclick">
                               <br>
                                <span class="uk-text-muted uk-text-small"></span>
                            </a>
                        </li>
                       
                        <li data-value="autocomplete-value">
                            <a class="needsclick">
                                Autocomplete Text<br>
                                <span class="uk-text-muted uk-text-small">Helper text</span>
                            </a>
                        </li>
                    </ul>
                </script>
            </form>
        </div>
    </header><!-- main header end -->
    <!-- main sidebar -->
    <aside id="sidebar_main">
        
        <div class="sidebar_main_header">
            <div class="sidebar_logo">
                <a href="index.html" class="sSidebar_hide sidebar_logo_large">
                    <img class="logo_regular" src="{% static 'main_app/img/logo_main.png' %}" alt="" height="15" width="71"/>
                    <img class="logo_light" src="{% static 'main_app/img/logo_main_white.png' %}" alt="" height="15" width="71"/>
                </a>
                <a href="index.html" class="sSidebar_show sidebar_logo_small">
                    <img class="logo_regular" src="{% static 'main_app/img/logo_main_small.png' %}" alt="" height="32" width="32"/>
                    <img class="logo_light" src="{% static 'main_app/img/logo_main_small_light.png' %}" alt="" height="32" width="32"/>
                </a>
            </div>
   
        </div>
        
        <div class="menu_section">
            <ul>
                <li  class="current_section" title="Dashboard">
                    <a href="{% url 'user_dashboard' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                        <span class="menu_title">Dashboard</span>
                    </a>
                    
                </li>
                
                 

                <li title="User Profile">
                    <a href="{% url 'user_profile' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE87C;</i></span>
                        <span class="menu_title">My Profile</span>
                    </a>    
                </li>
                {% if user.profile.institute  %}
                <li title="Institute Profile">
                    <a href="{% url 'institute_detail' user.profile.institute.pk %}">
                        <span class="menu_icon"><i class="material-icons">&#xE87C;</i></span>
                        <span class="menu_title">Institute Profile</span>
                    </a>    
                </li>
                <li  title="Holiday List">
                    <a href="{% url 'holidaylist' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE87C;</i></span>
                        <span class="menu_title">Holiday List</span>
                    </a>
                    
                </li>

                {% endif %}
                {% if user.profile.institute  %}
                <li  title="Approvals">
                    <a href="{% url 'approvals' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE87C;</i></span>
                        <span class="menu_title">Approvals</span>
                    </a>
                    
                </li>   
                {% endif %}
                
            
                <li title="Log Out">
                        <a href="{% url 'auth_logout' %}">
                            <span class="menu_icon"><i class="material-icons">&#xe853;</i></span>
                            <span class="menu_title">Log Out</span>
                        </a>
                    </li>

            </ul>
        </div>
    </aside><!-- main sidebar end -->

    <div id="page_content">
        <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                <div class="uk-width-large-7-10">
                    <div class="md-card">
                        <div class="user_heading">
                            <div class="user_heading_menu hidden-print">
                                <div class="uk-display-inline-block" data-uk-dropdown="{pos:'left-top'}">
                                    <i class="md-icon material-icons md-icon-light">&#xE5D4;</i>
                                    <div class="uk-dropdown uk-dropdown-small">
                                        <ul class="uk-nav">
                                            <li><a href="#">Action 1</a></li>
                                            <li><a href="#">Action 2</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="user_heading_avatar">
                                <div class="thumbnail">
                                    <img src="{{user.profile.profile_pic.url}}" alt="user avatar"/>
                                </div>
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b uk-margin-bottom"><span class="uk-text-truncate">{{user.profile.first_name}}
                                    
                                    {% if user.profile.middle_name %}
                                       {{user.profile.middle_name}} 
                                    {% endif %}

                                    
                                    {% if user.profile.last_name %}
                                        {{user.profile.last_name}}
                                    {% endif %}</span><span class="sub-heading">{{user.profile.designation}}</span></h2>
                                                            </div>
                           
                        </div>
                        <div class="user_content">
                       
                            <!-- messages -->
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="text-{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            <h3 class="uk-text-primary">Update Your Information</h3>
                        <!-- starting user form  -->
                        <form method="POST" enctype="multipart/form-data" action="{% url 'edit_profile' user.profile.pk %}">
                            {% csrf_token %}

                            <div class="form-group">
                                <label >First Name:</label>
                                <input type="text" value="{{user_info.first_name}}" class="form-control" name='first_name' required>
                              </div>

                              <div class="form-group">
                                <label >Middle Name:</label>
                                <input type="text" class="form-control" name='middle_name' value="{{user_info.middle_name}}">
                              </div>

                              <div class="form-group">
                                <label >Last Name:</label>
                                <input type="text" class="form-control" name='last_name' value="{{user_info.last_name}}">
                              </div>




{% if not user_info.designation  %}
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="admin_check">
    <label class="custom-control-label" for="defaultUnchecked">Institute not Listed ? Create new Institute as Admin</label>
</div>


<div id="institute_list">
    <div class="form-group" >
        <label >Select Institute:</label>
        
        <select class="form-control" name="select_school" id="select_school">
            
            {% if not user_info.institute %}
            <option selected disabled>-- select your institute --</option>

            {% endif %}
            
          {% for institute in all_institutes %}
              <option value="{{institute.id}}">{{institute}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>Join as:</label>
        <select class="form-control" name="user_designation" id="fdata">
    
        </select>
    </div>
   
    
</div>
 
{% endif %}
    
 

 




  <div id="institute-options" style="display: none;">
    <div class="form-group">
        <label >Institute Name:</label>
        <input type="text" class="form-control" name='new_institute_name' placeholder="New institute name here" >
      </div>
      <div class="form-group">
        <label>Institute Phone:</label>
        <input type="text" class="form-control" name="new_institute_phone" pattern="[1-9]{1}[0-9]{9}" placeholder="Enter 10 digit mobile number">
      </div>

      <div class="form-group">
        <label>Institute Address :</label>
        <input type="text" class="form-control" name="new_institute_address" placeholder="Institute address here">
      </div>
  </div>



    



 

                              <div class="form-group">
                                <label >Date of Birth:</label>
                                
                                <input type="date" class="form-control" name='dob' pattern="^[0-9-]{10}$" placeholder="YYYY-MM-DD" value="{{user_info.date_of_birth|date:'Y-m-d'}}" >
                              </div>
                              {% if user.user_institute_role.level.level_name == "student" %}
<div class="form-group">
    <label for="sel1">Select Your Class:</label>
    <select class="form-control" name="student_class">
    
    {% if user_info.Class %}
    <option selected value="{{user_info.Class.id}}">{{user_info.Class}}</option>  
    {% else %}
    <option  disabled> -- select your class --</option>
    {% endif %}
           
     
     
     {% for class in all_institute_classes %}
     <option value="{{class.id}}">{{class}}</option>
     {% endfor %}
         
    </select>
  </div>
  {% else %}
{% endif %}

                              <div class="form-group">
                                <label >About Yourself:</label>
                               
                                <textarea class="form-control"  name='about' >{{user_info.about}}</textarea>
                              </div>

                              <div class="form-group">
                                <label >Change Profile Picture:</label>
                                <input type="file" class="form-control" name='profile_pic'>
                              </div>

                              <div class="form-group">
                                <label >Mobile:</label>
                                <input type="text" class="form-control" name='mobile_number' value="{{user_info.mobile_number}}" pattern="[1-9]{1}[0-9]{9}">
                              </div>
                            
                              <div class="form-group">
                                <label >Address Line 1:</label>
                                <input type="text" class="form-control" name='address_line_1' value="{{user_info.address_line_1}}">
                              </div>

                              <div class="form-group">
                                <label >Address Line 2:</label>
                                <input type="text" class="form-control" name='address_line_2' value="{{user_info.address_line_2}}">
                              </div>

                              <div class="form-group">
                                <label >City:</label>
                                <input type="text" class="form-control" name='city' value="{{user_info.city}}">
                              </div>

                              <div class="form-group" >
                                <label >State:</label>
                                <select class="form-control" name="state"  required>
                                  
                                  {% if user_info.state %}
                                      <option selected disabled>{{user_info.state}}</option>
                                  {% endif %}
                                      
                                  
                                  {% for state in all_states %}
                                      <option value="{{state.id}}">{{state}}</option>
                                  {% endfor %}
                                      
                                  
                                </select>
                              </div>

                              <div class="form-group">
                                <label >Facebook Profile link:</label>
                                <input type="url" class="form-control" name='facebook_link' value="{{user_info.facebook_link}}">
                              </div>
                      
                              <input  class="md-btn md-btn-primary" type="submit" value="Update" >


                        </form>
                        <!-- ending user form -->



                            
                                            </div>
                                   
                    </div>
                </div>
                <div class="uk-width-large-3-10 hidden-print">
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-margin-medium-bottom">
                                <h3 class="heading_c uk-margin-bottom">Alerts</h3>
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons uk-text-warning">&#xE8B2;</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Ullam dolor praesentium.</span>
                                            <span class="uk-text-small uk-text-muted uk-text-truncate">Et voluptatum cumque excepturi dolores.</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons uk-text-success">&#xE88F;</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Veniam fuga sed.</span>
                                            <span class="uk-text-small uk-text-muted uk-text-truncate">Quia similique autem aut eaque qui.</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons uk-text-danger">&#xE001;</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Voluptatem voluptatem veritatis.</span>
                                            <span class="uk-text-small uk-text-muted uk-text-truncate">Iure autem asperiores numquam rerum ut sunt.</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <a class="md-btn md-btn-flat md-btn-flat-primary" href="#">Show all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="{% static 'main_app/js/common.min.js' %}"></script>
    <!-- uikit functions -->
    <script src="{% static 'main_app/js/uikit_custom.min.js' %}"></script>
    <!-- altair common functions/helpers -->
    <script src="{% static 'main_app/js/altair_admin_common.min.js' %}"></script>


    <script>
        $(function() {
            if(isHighDensity()) {
                $.getScript( "assets/js/custom/dense.min.js", function(data) {
                    // enable hires images
                    altair_helpers.retina_images();
                });
            }
            if(Modernizr.touch) {
                // fastClick (touch devices)
                FastClick.attach(document.body);
            }
        });
        $window.load(function() {
            // ie fixes
            altair_helpers.ie_fix();
        });
    </script>


    <div id="style_switcher">
        <div id="style_switcher_toggle"><i class="material-icons">&#xE8B8;</i></div>
        <div class="uk-margin-medium-bottom">
            <h4 class="heading_c uk-margin-bottom">Colors</h4>
            <ul class="switcher_app_themes" id="theme_switcher">
                <li class="app_style_default active_theme" data-app-theme="">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_a" data-app-theme="app_theme_a">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_b" data-app-theme="app_theme_b">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_c" data-app-theme="app_theme_c">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_d" data-app-theme="app_theme_d">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_e" data-app-theme="app_theme_e">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_f" data-app-theme="app_theme_f">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_g" data-app-theme="app_theme_g">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_h" data-app-theme="app_theme_h">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_i" data-app-theme="app_theme_i">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_dark" data-app-theme="app_theme_dark">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
            </ul>
        </div>
        <div class="uk-visible-large uk-margin-medium-bottom">
            <h4 class="heading_c">Sidebar</h4>
            <p>
                <input type="checkbox" name="style_sidebar_mini" id="style_sidebar_mini" data-md-icheck />
                <label for="style_sidebar_mini" class="inline-label">Mini Sidebar</label>
            </p>
            <p>
                <input type="checkbox" name="style_sidebar_slim" id="style_sidebar_slim" data-md-icheck />
                <label for="style_sidebar_slim" class="inline-label">Slim Sidebar</label>
            </p>
        </div>
        <div class="uk-visible-large uk-margin-medium-bottom">
            <h4 class="heading_c">Layout</h4>
            <p>
                <input type="checkbox" name="style_layout_boxed" id="style_layout_boxed" data-md-icheck />
                <label for="style_layout_boxed" class="inline-label">Boxed layout</label>
            </p>
        </div>
        <div class="uk-visible-large">
            <h4 class="heading_c">Main menu accordion</h4>
            <p>
                <input type="checkbox" name="accordion_mode_main_menu" id="accordion_mode_main_menu" data-md-icheck />
                <label for="accordion_mode_main_menu" class="inline-label">Accordion mode</label>
            </p>
        </div>
    </div>

    <script>
        $(function() {
            var $switcher = $('#style_switcher'),
                $switcher_toggle = $('#style_switcher_toggle'),
                $theme_switcher = $('#theme_switcher'),
                $mini_sidebar_toggle = $('#style_sidebar_mini'),
                $slim_sidebar_toggle = $('#style_sidebar_slim'),
                $boxed_layout_toggle = $('#style_layout_boxed'),
                $accordion_mode_toggle = $('#accordion_mode_main_menu'),
                $html = $('html'),
                $body = $('body');


            $switcher_toggle.click(function(e) {
                e.preventDefault();
                $switcher.toggleClass('switcher_active');
            });

            $theme_switcher.children('li').click(function(e) {
                e.preventDefault();
                var $this = $(this),
                    this_theme = $this.attr('data-app-theme');

                $theme_switcher.children('li').removeClass('active_theme');
                $(this).addClass('active_theme');
                $html
                    .removeClass('app_theme_a app_theme_b app_theme_c app_theme_d app_theme_e app_theme_f app_theme_g app_theme_h app_theme_i app_theme_dark')
                    .addClass(this_theme);

                if(this_theme == '') {
                    localStorage.removeItem('altair_theme');
                    $('#kendoCSS').attr('href',"{% static 'main_app/bower_components/kendo-ui/styles/kendo.material.min.css' %}");
                } else {
                    localStorage.setItem("altair_theme", this_theme);
                    if(this_theme == 'app_theme_dark') {
                        $('#kendoCSS').attr('href',"{% static 'main_app/bower_components/kendo-ui/styles/kendo.materialblack.min.css' %}")
                    } else {
                        $('#kendoCSS').attr('href',"{% static 'main_app/bower_components/kendo-ui/styles/kendo.material.min.css' %}");
                    }
                }

            });

            // hide style switcher
            $document.on('click keyup', function(e) {
                if( $switcher.hasClass('switcher_active') ) {
                    if (
                        ( !$(e.target).closest($switcher).length )
                        || ( e.keyCode == 27 )
                    ) {
                        $switcher.removeClass('switcher_active');
                    }
                }
            });

            // get theme from local storage
            if(localStorage.getItem("altair_theme") !== null) {
                $theme_switcher.children('li[data-app-theme='+localStorage.getItem("altair_theme")+']').click();
            }


        // toggle mini sidebar

            // change input's state to checked if mini sidebar is active
            if((localStorage.getItem("altair_sidebar_mini") !== null && localStorage.getItem("altair_sidebar_mini") == '1') || $body.hasClass('sidebar_mini')) {
                $mini_sidebar_toggle.iCheck('check');
            }

            $mini_sidebar_toggle
                .on('ifChecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.setItem("altair_sidebar_mini", '1');
                    localStorage.removeItem('altair_sidebar_slim');
                    location.reload(true);
                })
                .on('ifUnchecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.removeItem('altair_sidebar_mini');
                    location.reload(true);
                });

        // toggle slim sidebar

            // change input's state to checked if mini sidebar is active
            if((localStorage.getItem("altair_sidebar_slim") !== null && localStorage.getItem("altair_sidebar_slim") == '1') || $body.hasClass('sidebar_slim')) {
                $slim_sidebar_toggle.iCheck('check');
            }

            $slim_sidebar_toggle
                .on('ifChecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.setItem("altair_sidebar_slim", '1');
                    localStorage.removeItem('altair_sidebar_mini');
                    location.reload(true);
                })
                .on('ifUnchecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.removeItem('altair_sidebar_slim');
                    location.reload(true);
                });

        // toggle boxed layout

            if((localStorage.getItem("altair_layout") !== null && localStorage.getItem("altair_layout") == 'boxed') || $body.hasClass('boxed_layout')) {
                $boxed_layout_toggle.iCheck('check');
                $body.addClass('boxed_layout');
                $(window).resize();
            }

            $boxed_layout_toggle
                .on('ifChecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.setItem("altair_layout", 'boxed');
                    location.reload(true);
                })
                .on('ifUnchecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.removeItem('altair_layout');
                    location.reload(true);
                });

        // main menu accordion mode
            if($sidebar_main.hasClass('accordion_mode')) {
                $accordion_mode_toggle.iCheck('check');
            }

            $accordion_mode_toggle
                .on('ifChecked', function(){
                    $sidebar_main.addClass('accordion_mode');
                })
                .on('ifUnchecked', function(){
                    $sidebar_main.removeClass('accordion_mode');
                });


        });
    </script>

<!-- code to toggle admin options -->
<script>
        $(document).ready(function(){
            $('#defaultUnchecked').click(function(){
                if($(this).prop("checked") == true){
                    $('#institute_list').hide()
                    $('#institute-options').show()
                }
                else if($(this).prop("checked") == false){
                    $('#institute-options').hide()
                    $('#institute_list').show()
                }
            });
        });
    
    </script>

<!-- ending code to toggle admin options -->

<script>
    $("input[type=date]").datepicker({
  dateFormat: 'yy-mm-dd',
  onSelect: function(dateText, inst) {
    $(inst).val(dateText); // Write the value in the input
  }
});

// Code below to avoid the classic date-picker
$("input[type=date]").on('click', function() {
  return false;
});
</script>

<script>
    $(document).ready(function(){
      $('#select_school').change(function(){
          $.ajax({
              type:'POST',
              url:'/fetch_levels/',
              data:{school_id:$("#select_school").val(), csrfmiddlewaretoken: '{{ csrf_token }}' },
              
              success: function(msg){
                  $('#fdata').html(msg);
              }
          })
      })
    })
    </script>
   
</body>
</html>