<!DOCTYPE html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <!-- fevicon -->
    <link rel="icon" type="image/png" href="{% static 'main_app/img/favicon-16x16.png' %} " sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'main_app/img/favicon-32x32.png' %} " sizes="32x32">


    

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>


    <!-- bootstrap css -->
    <!-- <link rel="stylesheet" href="{% static 'main_app/css/bootstrap.min.css' %}"> -->
    <!-- jquery link js -->
    <!-- <script src="{% static 'main_app/js/jquery.js' %}"></script> -->

    <!-- style css  -->
    <!-- <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}"> -->

    <title>{% block title %}    {% endblock title %}</title>
</head>


<body id="{% block pageid %}{% endblock pageid %}" class="{% block bodyclass %} {% endblock bodyclass %}">
    
   
 
        {% block content %}
        


        {% endblock content %}
   

</body>
</html>