#hint_id_password2, #hint_id_password1, #hint_id_username{
    display: none;
}
.login_page{
    background: #ececec;
}


body{
    background-color: #ececec;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  #ts_issues tr td#2{
    display: none !important;
    background-color: #1976d2;
}

  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  #id_permissions{
    min-height: 270px;
  }
#attendance_form{
  border: 1px solid lightgray;
  padding: 10px;
  box-shadow: 3px 3px 10px lightgray !important ;
}

.attendance_form{
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: unset !important ;
  background-color: white !important ;
  box-shadow: 3px 3px 10px lightgray !important ;
}
#attendance_student_table tr td{
  padding: 0px;
  padding-top: 5px;
}
#attendance_student_table tr td .icheck-inline{
  padding-top: 2px;
 margin: 0px; 
}

#attendance_student_table tr td{
  padding-top: 3px;
  padding-bottom: 3px;
  color: gray;
}

#attendance_student_table tr td select {
  border: 1px solid lightblue;
  border-radius: 3px;
  color: gray;
  padding: 1px;
}

.login_page {
  background: radial-gradient(#1c80d15c, transparent, white) !important;
}

#login_form {
  box-shadow: 5px 10px 10px gray;
}
#not_found_page{
  background-image: url('../images/not_found.jpg');
  background-size: cover;
  height: 100% ;
  background-repeat: no-repeat;
 color: white;
}
.approve_btn{
  color: green;
  box-sizing: border-box;
  padding: 0px 6px !important;
}
.approve_btn:hover{
  
  border: 1px solid green;
  color: green;
  padding: 0px 6px !important;

  box-shadow: 0px 0px 5px green !important;
  box-sizing: border-box;
}
.disapprove_btn{
  color: red;
  padding: 0px 6px !important;
}
.disapprove_btn:hover{
  border: 1px solid red;
  padding: 0px 6px !important;
  box-shadow: 0px 0px 5px  red !important;
  box-sizing: border-box;
}
#page_content_inner{
  background-color:#ececec ;
}

#admission_form_table{
  width: 65%;
  margin: auto;
}
.admission_form_label{
  text-align: left;
  font-weight: 400;
  
}
.admission_submit_button{
  background-color: #1976d2 !important;
  color: white;
}
.aftr{
border-bottom: 2px solid white;
}
.aftr:hover{
background-color: rgb(148, 134, 134);
}
#disapprove_admission{
  color: white;
}
.md-list-heading a{
  cursor: default;
}
#notification_form{
  padding: 10px;
}
.select_all_checkbox{
  text-align: center;
}
#select_individual{
  height: 150px;
}
img#slogo{
 height: 50px !important;
}
#sidebar_main .sidebar_main_header{
  padding: 12px !important;
}

#schedule_table .uk-table td, .uk-table th{
  padding: 3px 1px;
  
}
#sche_sel_class{
  height: 24px;
}

.text_center{
  text-align: center;

}
.alert_notice_list li{
  min-height: 0px;
}

.head_center{
  align:center;
}
.select2 {
  width: -webkit-fill-available !important;
}
.select2-selection, .select2-selection--multiple{
  min-height: 0px !important;
  padding: 2px !important;
}
.tag-i{
  border: none !important;
  background-color: white !important;
}
.tag-i:hover{
  background-color: #e3f2fd !important;
}
#student_list_map_select{
  border: none !important;
  font-size: 15px;
  padding: 0px !important;
}
.multiple_student_tag option{
border-bottom: 1px solid lightgray;
padding: 2px;
}

.md-btn-primary{
  background-color:#1976d2;
}
.md-btn-primary:hover{
  background-color:#1976d2;
}
#ortag{
  width: 100%;
  text-align: center;
  margin: auto;
}
.search_icon{
  color: white;
  background-color:#1976d2 ;
}
.tsh{
  font-weight: bolder;
}
.utsl{
  padding: 30px;
}

.utsl li{
  padding: 4px;
  min-height: auto;
}
label{
  margin-bottom: 0px !important;
}


.ast{
  color:red;
  
}
label.required::after{
  content: "*";
  color: red;
}

  
#md_user{
  font-size: 16px;
}

#institute-options{
  padding: 10px 25px;
  background-color: #add8e62d;
  border: 1px solid #0976a1c0;
  
  border-radius: 10px;
  width: 95%;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
 
}

/* starting scrollbar css */
/* width */

::-webkit-scrollbar {
  width: 8px;
  height: 23px;
  
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid darkgray;
  box-shadow: inset 0 0 5px lightblue;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7575757e;
  border-radius: 20px;
}
/* ending scrollbar css */

/* starting notification box modification */
@media only screen and (min-width: 500px) {
  .notice_drop{
    min-width: 470px;
    min-height: 550px !important;
  }
  #header_alerts{
    min-height: 450px;
  }
}


/* ending notification box modification */

.asteriskField{
  color: red !important;
}

.tdcs{
  max-height: 300px;
}

/* starting form control modifications */

.form-control, .custom-file-label , .custom-select{
  border:1px solid #1976d249 !important;
}
.form-control:focus, .custom-select {
  background-color:#1976d211 !important;
  border: 1px solid  #1976d2 !important ;
  box-shadow: none !important;  
}

/* ending form control modifications */

#body-font{
  font-family: Roboto,sans-serif;
  font-size: 14px/1.42857143;
  font-weight: 400;
  padding-top: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
  top: 0px;
}
.bottom_logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
  bottom: 0px;
}
.sidebar_main_header {
  max-height: 100px !important; 
 }
#forget_password_link{
 text-align: center; 

}

.btn-goback{
color: blue;
border-radius: 2px;
}
.btn-goback:hover{
  color: blue;
  
}
.btn-goback i{
  color: blue;
}
#augbb{
  background-color: white;
  color: blue;
}
.zoom {
  padding: 100px;
  transition: transform .2s;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
/* starting styling for institute logo and global credence bottom logo */
.institute_logo_top{
  position: fixed;
   top: 0px;
    z-index: 1;
    width: 100% !important;
    background-color: white;

}
.global_logo{
  position: fixed;
  bottom: 3px;
  width: 100%;
   z-index: 99999;
   text-align: center !important;
   background-color: white !important;

}
/* ending styling for institute logo and global credence bottom logo */
#nbadge{
  color:yellow !important;
  size: 40px !important;
}
.nbadge{
  background-color: transparent !important;
  left: 5px !important;
}


#sidebar_main .menu_section>ul>li>a{
  padding: 5px 20px !important;
}

input[type="checkbox"]:required:valid + label::before {
  content: "\2611";
  padding-right: 0.2em;
  font-size: 1.6em;
  color: green;
}
#footer{
  background-color: #1976d2;
  text-align: right;
   z-index:1;
    height: 47px;
     color: white;
}
#tblf{
  font-weight: 900;
   color: white;
}

#report_card_percentage{
  text-align:center;
  padding-left:50px;

}
#report_card_result{
  text-align: center;
   padding-left: 25px;
   
}
#promotion_submit{
  text-align: center;
}

#edit_button{
  color:#2196f3;
}

#delete_button{
  color: #ff0000;
}
#required_margin{
  margin:4px;
}
#result_padding{
  padding: 2px;
}

#exam_type{
  padding:2px;
  height:38px;
}
#red_color{
color:#ff0000;
}

#exam_schedule{
  
  background-color:transparent;
  -webkit-appearance:none;
  border:1px solid transparent !important;
}
#promotion_status{
  text-align:center;
  width:100px;
}

#exam_left_align{
  margin-left:20px;

}
.exam_schedule_submit{
  margin: 4px;
  background-color: #1976d2;

}
.report_card_button{
    outline:none;
    border: 0;
    margin-left:580px;
}

#button_align{
  text-align: center;
}

#edit_exam_date{
  margin-left: 700px;
}

