#hint_id_password2, #hint_id_password1, #hint_id_username{
    display: none;
}
.login_page{
    background: #ececec;
}
body{
    background-color: #ececec;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  #id_permissions{
    min-height: 270px;
  }
#attendance_form{
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}
#attendance_student_table tr td{
  padding: 0px;
  padding-top: 5px;


}


#attendance_student_table tr td .icheck-inline{
  padding-top: 2px;
 margin: 0px; 
}

#attendance_student_table tr td{
  padding-top: 3px;
  padding-bottom: 3px;
  color: gray;
}

#attendance_student_table tr td select {
  border: 1px solid lightblue;
  border-radius: 3px;
  color: gray;
  padding: 1px;
}

.login_page {
  background: radial-gradient(#1c80d15c, transparent, white) !important;
}

#login_form {
  box-shadow: 5px 10px 10px gray;
}
#not_found_page{
  background-image: url('../images/not_found.jpg');
  background-size: cover;
  height: 100% ;
  background-repeat: no-repeat;
 color: white;
}
.approve_btn{
  color: green;
}
.approve_btn:hover{
  
  border: 1px solid green;
  color: green;

  transition: 1s;
  box-sizing: border-box;
}
.disapprove_btn:hover{
  border: 1px solid red;
  transition: 1s;
}
#page_content_inner{
  background-color:#ececec ;
}

#admission_form_table{
  width: 65%;
  margin: auto;
}
.admission_form_label{
  text-align: center;
  font-weight: 400;
  
}
.admission_submit_button{
  background-color: #1976d2 !important;
  color: white;
}
.aftr{
border-bottom: 2px solid white;
}
.aftr:hover{
background-color: lightgray;
}